<nb-card>
  <nb-card-header>
    matiere
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>

  </nb-card-body>

</nb-card>



<!-- <ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Prof details</nb-card-header>
    <nb-card-body></nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template> -->
