@import '../../@theme/styles/themes';
@include nb-install-component() {
 
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.5rem;
  }

}
// :host ::ng-deep ng2-st-tbody-edit-delete {
//   display: flex !important;
//   height: 0 !important;
// }

// :host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
//   display: inline-block;
//   width:fit-content;
//   text-align: center;
//   font-size:small;
// }

// :host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
//   color: #5dcfe3;
// }

:host ::ng-deep {
  ng2-st-tbody-edit-delete {
    display: none;
    height: 0 !important;
  }

  ng2-st-tbody-custom {
    display: flex;
    text-align: center;
  }
}