

@import '../../@theme/styles/themes';
// @import 'bootstrap/scss/mixins/breakpoints';
// @import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  ngx-chartjs-bar,
  ngx-chartjs-pie,
  .color{
    color: nb-theme(text-primary-color);
  }
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }


}
