<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <!-- <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
        
          <nb-icon  style="width:90%; height: auto;"  class=" color img-fluid rounded-start" [icon]="statusCard.iconClass" pack="eva"></nb-icon>

        </div>
        <div class="col-md-8">
          <div class="card-body color">
            {{statusCard.title}}
            <p class="card-text color">
              {{statusCard.number}}
              </p>
            <p class="card-text color">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <ngx-status-card [number]="statusCard.number" [title]="statusCard.title" [type]="statusCard.type">
      <!-- <i [ngClass]="statusCard.iconClass"></i> -->

      <nb-icon  style="width:90%; height: auto;"  class="img-fluid rounded-start" [icon]="statusCard.iconClass" pack="eva"></nb-icon>

    </ngx-status-card>
  </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <nb-card size="large">
      <nb-card-header>Active students using the application compared to the total number of students, grouped by field</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar ></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-6">
    <nb-card size="large">
      <nb-card-header>total number of students grouped by field</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
<!-- 
  <div class="col-lg-6">
   lkkknn  </div>

  <div class="col-lg-6">
   
  </div>

  <div class="col-lg-6">
   helloo  </div>

  <div class="col-lg-6">
  hiii </div> -->
</div>
